@charset "UTF-8";

/* Paleta de cores:

    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    /* Do POSITION ao TRANSFORM, é uma forma de centralizar as coisas no meio da tela. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}