@charset "UTF-8";

/* Paleta de cores:

    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    /* Do POSITION ao TRANSFORM, é uma forma de centralizar as coisas no meio da tela. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    /* Animação básica para aumentar e diminuir a imagem quando está em tamanhos diferentes. */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94dfdc;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    transform: translateY(-13px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
    transition: 0.4s;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form > input[type=submit] {
    background-color: #49a09d;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #124746;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color:#124746;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #5ac9c5;
}

form > a.botao > i {
    font-size: 0.8em;
}